@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #A79277;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  word-spacing: -2px;
}
h2 {
  color: #CCD3CA;
}

p {
  font-size: 45px;
  color: #212121;
  line-height: normal;
  overflow-wrap: break-word;
  letter-spacing: -1px;
  line-height: 2;
  word-spacing: 2px;

}